.skills-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-right: 100px;
  margin-bottom: 50px;
}
.skills-image {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.skill-name {
  font-family: 'Roboto';
}
